In [ ]:
import pandas as pd

#Series

In [ ]:
x = [1, 2, 3, 4, 5]

var = pd.Series(x)

print(var)
print(type(var))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
y = [1, 2, 3, 4, 5]

a = pd.Series(y, index = ['a', 'b', 'c', 'd', 'e'], dtype = "float", name = "python")

print(a)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: python, dtype: float64

In [ ]:
s= pd.Series(5, index = [1, 2, 3, 4, 5])
print(s)

1    5
2    5
3    5
4    5
5    5
dtype: int64

In [ ]:
s1 = pd.Series(12, index = [1, 2, 3, 4, 5])
s2 = pd.Series(12, index = [1, 2, 3])

print(s1+ s2) #In numpy, this will give Broadcast error!

1    24.0
2    24.0
3    24.0
4     NaN
5     NaN
dtype: float64

#Data Frame

In [ ]:
l = [1, 2, 3, 4, 5]

var = pd.DataFrame(l)

print(var)
print(type(var))

   0
0  1
1  2
2  3
3  4
4  5
<class 'pandas.core.frame.DataFrame'>

When u try to make a data frame using Dictionary, make sure the data u pass in a dictionary, the data values should be equal.

In [ ]:
d = {"a": [12, 14, 15, 18], "s": [10, 20, 30, 40]}

v1 = pd.DataFrame(d)

print(v1)

    a   s
0  12  10
1  14  20
2  15  30
3  18  40

Unbalanced data causes value Error..

like...All arrays must be of same length

In [ ]:
v2 = pd.DataFrame(d, columns = ["a"],index = [1, 2, 3, 4])

print(v2)

    a
1  12
2  14
3  15
4  18

In [ ]:
#Suppose i want to get data at a particular column and index
print(v1)
print(v1["a"][2])

    a   s
0  12  10
1  14  20
2  15  30
3  18  40
15

In [ ]:
#Creating DataFrame using lists

list1 = [[10, 20, 30, 40], [100, 200, 300, 400]]
v3 = pd.DataFrame(list1)
print(v3)
print(type(v3))

     0    1    2    3
0   10   20   30   40
1  100  200  300  400
<class 'pandas.core.frame.DataFrame'>

In [ ]:
#Creating DataFrames using Series

b = {"name": pd.Series(['zabi', 'muskan', 'tom', 'jerry']), "age": pd.Series([21, 20, 10, 5])}
v4 = pd.DataFrame(b)
print(v4)

     name  age
0    zabi   21
1  muskan   20
2     tom   10
3   jerry    5

#Arithmetic Operations in Pandas

In [ ]:
var = pd.DataFrame({"A": [1, 2, 3, 4, 5], "B": [6, 7, 8, 9, 10]})
print(var, end = "\n\n")

var["C"] = var["A"] + var["B"]
print(var, end = "\n\n")

var["C"] = var["A"] - var["B"]
print(var, end = "\n\n")

var["C"] = var["A"] * var["B"]
print(var, end = "\n\n")

var["C"] = var["A"] / var["B"]
print(var, end = "\n\n")

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

   A   B   C
0  1   6   7
1  2   7   9
2  3   8  11
3  4   9  13
4  5  10  15

   A   B  C
0  1   6 -5
1  2   7 -5
2  3   8 -5
3  4   9 -5
4  5  10 -5

   A   B   C
0  1   6   6
1  2   7  14
2  3   8  24
3  4   9  36
4  5  10  50

   A   B         C
0  1   6  0.166667
1  2   7  0.285714
2  3   8  0.375000
3  4   9  0.444444
4  5  10  0.500000

In [ ]:
var1 = pd.DataFrame({"A": [10, 20, 30, 40, 50], "B": [60, 70, 80, 90, 10]})

var1["score1"] = var1["A"] > 20
var1["score2"] = var1["B"] < 90

print(var1)

    A   B  score1  score2
0  10  60   False    True
1  20  70   False    True
2  30  80    True    True
3  40  90    True   False
4  50  10    True    True

#Delete and Insert Data in Pandas

In [ ]:
var2 = pd.DataFrame({"A": [10, 20, 30, 40, 50], "B": [60, 70, 80, 90, 10]})
print(var2)
d = var2["A"] - 5

var2.insert(1, "D", d)
print(var2)

    A   B
0  10  60
1  20  70
2  30  80
3  40  90
4  50  10
    A   D   B
0  10   5  60
1  20  15  70
2  30  25  80
3  40  35  90
4  50  45  10

In [ ]:
var2["new"] = var2["A"][1:]

print(var2)

    A   D   B   new
0  10   5  60   NaN
1  20  15  70  20.0
2  30  25  80  30.0
3  40  35  90  40.0
4  50  45  10  50.0

In [ ]:
#var_d = var2.pop("D")
#print(var_d)

del var2("new")

In [ ]:
#del var2["new"]
#print(var2)

#Working with CSV file

Write CSV

In [ ]:
dict_a ={"A": [10, 20, 30, 40, 50], "B": [60, 70, 80, 90, 100], "C": [10, 20, 30, 40, 50], "D": [60, 70, 80, 90, 100]}

a = pd.DataFrame(dict_a)

print(a)

#a.to_csv("Dictb.csv", index = False)
a.to_csv("Dictc.csv", index = False, header = ["emp1", "emp2", "emp3", "emp4"])

    A    B   C    D
0  10   60  10   60
1  20   70  20   70
2  30   80  30   80
3  40   90  40   90
4  50  100  50  100

Read CSV

In [ ]:
csv_1 = pd.read_csv("AIML_Dataset.csv")

In [ ]:
csv_2 = pd.read_csv("AIML_Dataset.csv", nrows = 5)
print(csv_2)
print(type(csv_2))

   step      type    amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
0     1   PAYMENT   9839.64  C1231006815       170136.0       160296.36
1     1   PAYMENT   1864.28  C1666544295        21249.0        19384.72
2     1  TRANSFER    181.00  C1305486145          181.0            0.00
3     1  CASH_OUT    181.00   C840083671          181.0            0.00
4     1   PAYMENT  11668.14  C2048537720        41554.0        29885.86

      nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
0  M1979787155             0.0             0.0        0               0
1  M2044282225             0.0             0.0        0               0
2   C553264065             0.0             0.0        1               0
3    C38997010         21182.0             0.0        1               0
4  M1230701703             0.0             0.0        0               0
<class 'pandas.core.frame.DataFrame'>

In [ ]:
csv_2 = pd.read_csv("AIML_Dataset.csv", nrows = 5, usecols=["type", "amount"])
print(csv_2)

       type    amount
0   PAYMENT   9839.64
1   PAYMENT   1864.28
2  TRANSFER    181.00
3  CASH_OUT    181.00
4   PAYMENT  11668.14

In [ ]:
csv_3 = pd.read_csv("AIML_Dataset.csv", nrows = 5, skiprows=[0])
print(csv_3)

   1   PAYMENT   9839.64  C1231006815  170136.0  160296.36  M1979787155  \
0  1   PAYMENT   1864.28  C1666544295   21249.0   19384.72  M2044282225
1  1  TRANSFER    181.00  C1305486145     181.0       0.00   C553264065
2  1  CASH_OUT    181.00   C840083671     181.0       0.00    C38997010
3  1   PAYMENT  11668.14  C2048537720   41554.0   29885.86  M1230701703
4  1   PAYMENT   7817.71    C90045638   53860.0   46042.29   M573487274

       0.0  0.0.1  0  0.1
0      0.0    0.0  0    0
1      0.0    0.0  1    0
2  21182.0    0.0  1    0
3      0.0    0.0  0    0
4      0.0    0.0  0    0

In [ ]:
csv_2 = pd.read_csv("AIML_Dataset.csv", index_col="type", nrows = 5)
print(csv_2)

          step      amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
type
PAYMENT      1     9839.64  C1231006815      170136.00       160296.36
PAYMENT      1     1864.28  C1666544295       21249.00        19384.72
TRANSFER     1      181.00  C1305486145         181.00            0.00
CASH_OUT     1      181.00   C840083671         181.00            0.00
PAYMENT      1    11668.14  C2048537720       41554.00        29885.86
...        ...         ...          ...            ...             ...
CASH_OUT   743   339682.13   C786484425      339682.13            0.00
TRANSFER   743  6311409.28  C1529008245     6311409.28            0.00
CASH_OUT   743  6311409.28  C1162922333     6311409.28            0.00
TRANSFER   743   850002.52  C1685995037      850002.52            0.00
CASH_OUT   743   850002.52  C1280323807      850002.52            0.00

             nameDest  oldbalanceDest  newbalanceDest  isFraud  isFlaggedFraud
type
PAYMENT   M1979787155            0.00            0.00        0               0
PAYMENT   M2044282225            0.00            0.00        0               0
TRANSFER   C553264065            0.00            0.00        1               0
CASH_OUT    C38997010        21182.00            0.00        1               0
PAYMENT   M1230701703            0.00            0.00        0               0
...               ...             ...             ...      ...             ...
CASH_OUT   C776919290            0.00       339682.13        1               0
TRANSFER  C1881841831            0.00            0.00        1               0
CASH_OUT  C1365125890        68488.84      6379898.11        1               0
TRANSFER  C2080388513            0.00            0.00        1               0
CASH_OUT   C873221189      6510099.11      7360101.63        1               0

[6362620 rows x 10 columns]

In [ ]:
csv_2 = pd.read_csv("AIML_Dataset.csv", header = 2, nrows = 5)
print(csv_2)

   1   PAYMENT   1864.28  C1666544295   21249.0   19384.72  M2044282225  \
0  1  TRANSFER    181.00  C1305486145     181.0       0.00   C553264065
1  1  CASH_OUT    181.00   C840083671     181.0       0.00    C38997010
2  1   PAYMENT  11668.14  C2048537720   41554.0   29885.86  M1230701703
3  1   PAYMENT   7817.71    C90045638   53860.0   46042.29   M573487274
4  1   PAYMENT   7107.77   C154988899  183195.0  176087.23   M408069119

       0.0  0.0.1  0  0.1
0      0.0    0.0  1    0
1  21182.0    0.0  1    0
2      0.0    0.0  0    0
3      0.0    0.0  0    0
4      0.0    0.0  0    0

In [ ]:
csv_2 = pd.read_csv("AIML_Dataset.csv", nrows = 5, names= ["col1"])
print(csv_2)

                                                                                                                            col1
step type     amount  nameOrig    oldbalanceOrg newbalanceOrig nameDest    oldbalanceDest newbalanceDest isFraud  isFlaggedFraud
1    PAYMENT  9839.64 C1231006815 170136.0      160296.36      M1979787155 0.0            0.0            0                     0
              1864.28 C1666544295 21249.0       19384.72       M2044282225 0.0            0.0            0                     0
     TRANSFER 181.0   C1305486145 181.0         0.0            C553264065  0.0            0.0            1                     0
     CASH_OUT 181.0   C840083671  181.0         0.0            C38997010   21182.0        0.0            1                     0

In [ ]:
csv_2 = pd.read_csv("AIML_Dataset.csv", header = None, prefix="col")
print(csv_2)

TypeError: read_csv() got an unexpected keyword argument 'prefix'

In [ ]:
import pandas as pd

csv_2 = pd.read_csv("AIML_Dataset.csv", header=None)
csv_2 = csv_2.add_prefix("col")
print(csv_2)

/tmp/ipython-input-42-2783609674.py:3: DtypeWarning: Columns (0,2,4,5,7,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  csv_2 = pd.read_csv("AIML_Dataset.csv", header=None)

         col0      col1        col2         col3           col4  \
0        step      type      amount     nameOrig  oldbalanceOrg
1           1   PAYMENT     9839.64  C1231006815       170136.0
2           1   PAYMENT     1864.28  C1666544295        21249.0
3           1  TRANSFER       181.0  C1305486145          181.0
4           1  CASH_OUT       181.0   C840083671          181.0
...       ...       ...         ...          ...            ...
6362616   743  CASH_OUT   339682.13   C786484425      339682.13
6362617   743  TRANSFER  6311409.28  C1529008245     6311409.28
6362618   743  CASH_OUT  6311409.28  C1162922333     6311409.28
6362619   743  TRANSFER   850002.52  C1685995037      850002.52
6362620   743  CASH_OUT   850002.52  C1280323807      850002.52

                   col5         col6            col7            col8     col9  \
0        newbalanceOrig     nameDest  oldbalanceDest  newbalanceDest  isFraud
1             160296.36  M1979787155             0.0             0.0        0
2              19384.72  M2044282225             0.0             0.0        0
3                   0.0   C553264065             0.0             0.0        1
4                   0.0    C38997010         21182.0             0.0        1
...                 ...          ...             ...             ...      ...
6362616             0.0   C776919290             0.0       339682.13        1
6362617             0.0  C1881841831             0.0             0.0        1
6362618             0.0  C1365125890        68488.84      6379898.11        1
6362619             0.0  C2080388513             0.0             0.0        1
6362620             0.0   C873221189      6510099.11      7360101.63        1

                  col10
0        isFlaggedFraud
1                     0
2                     0
3                     0
4                     0
...                 ...
6362616               0
6362617               0
6362618               0
6362619               0
6362620               0

[6362621 rows x 11 columns]

In [ ]:
csv_4 = pd.read_csv("AIML_Dataset.csv", nrows = 5, dtype = {"isFraud":float})
csv_4

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0.0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0.0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1.0,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1.0,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0.0,0

In [ ]:
csv_1.index

RangeIndex(start=0, stop=368937, step=1)

In [ ]:
csv_1.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [ ]:
csv1 = pd.read_csv("employees.csv", nrows=5)
csv1

,EmployeeID,Name,Age,Department,Salary,JoiningDate,PerformanceRating
0,E001,John Smith,28,Sales,45000,2020-03-15,4
1,E002,Alice Johnson,34,IT,70000,2018-11-22,5
2,E003,Michael Brown,30,Marketing,52000,2019-07-01,3
3,E004,Linda Davis,45,HR,58000,2016-04-10,4
4,E005,David Wilson,25,IT,48000,2021-06-20,3

#Pandas Function

In [ ]:
csv1 = pd.read_csv("/content/employees.csv")
csv1

,EmployeeID,Name,Age,Department,Salary,JoiningDate,PerformanceRating
0,E001,John Smith,28,Sales,45000,2020-03-15,4
1,E002,Alice Johnson,34,IT,70000,2018-11-22,5
2,E003,Michael Brown,30,Marketing,52000,2019-07-01,3
3,E004,Linda Davis,45,HR,58000,2016-04-10,4
4,E005,David Wilson,25,IT,48000,2021-06-20,3
5,E006,Susan Taylor,31,Finance,62000,2017-09-18,4
6,E007,James Anderson,38,Sales,51000,2015-12-05,2
7,E008,Patricia Thomas,29,Marketing,54000,2022-01-10,3
8,E009,Robert Jackson,41,Finance,68000,2014-05-25,5
9,E010,Lisa White,27,IT,49000,2023-03-08,4
10,E011,Charles Harris,36,Sales,46000,2019-08-14,3
11,E012,Karen Martin,33,HR,56000,2017-01-20,5
12,E013,Thomas Thompson,39,Marketing,60000,2016-10-28,2
13,E014,Nancy Garcia,26,IT,47000,2021-02-17,3
14,E015,Christopher Martinez,42,Finance,72000,2013-03-30,5
15,E016,Margaret Robinson,37,HR,59000,2015-07-11,4
16,E017,Daniel Clark,32,Sales,53000,2020-06-01,3
17,E018,Dorothy Rodriguez,29,Marketing,55000,2019-10-09,4
18,E019,Matthew Lewis,35,IT,71000,2018-05-22,5
19,E020,Barbara Lee,40,Finance,65000,2012-09-16,4
20,E021,Paul Walker,43,Sales,50000,2011-03-11,2
21,E022,Jennifer Hall,24,HR,46000,2023-04-21,4
22,E023,Steven Allen,28,Marketing,53000,2020-07-13,3
23,E024,Sarah Young,30,IT,69000,2018-10-17,4
24,E025,George Hernandez,44,Finance,74000,2010-11-04,5
25,E026,Laura King,26,Sales,48000,2022-06-23,3
26,E027,Mark Wright,31,HR,57000,2016-08-06,5
27,E028,Betty Scott,34,IT,72000,2017-12-28,4
28,E029,Joseph Green,38,Marketing,60000,2015-02-14,3
29,E030,Emily Adams,27,Finance,66000,2023-01-30,4
30,E031,Edward Baker,29,Sales,49000,2021-05-03,3
31,E032,Jessica Gonzalez,33,HR,55000,2019-09-09,5
32,E033,Donald Nelson,41,IT,71000,2013-07-07,4
33,E034,Amanda Carter,36,Marketing,58000,2014-12-19,2
34,E035,Jason Mitchell,25,Sales,47000,2022-03-26,4
35,E036,Mary Perez,40,Finance,70000,2012-06-15,5
36,E037,Ronald Roberts,28,HR,52000,2021-09-30,3
37,E038,Elizabeth Turner,35,IT,75000,2016-01-13,5
38,E039,Anthony Phillips,30,Sales,50000,2018-08-27,3
39,E040,Deborah Campbell,39,Marketing,61000,2017-11-03,4
40,E041,Kevin Parker,42,Finance,73000,2010-10-10,5
41,E042,Helen Evans,31,IT,70000,2015-04-06,4
42,E043,Brian Edwards,27,Sales,46000,2023-05-12,3
43,E044,Cynthia Collins,33,HR,58000,2016-09-29,5
44,E045,Kenneth Stewart,36,Marketing,62000,2014-03-22,3
45,E046,Angela Sanchez,29,IT,68000,2020-02-08,4
46,E047,Joshua Morris,38,Finance,75000,2011-12-01,5
47,E048,Sharon Rogers,26,Sales,47000,2022-11-17,3
48,E049,Frank Reed,32,HR,56000,2018-06-05,4
49,E050,Michelle Cook,40,Marketing,63000,2013-05-20,5

In [ ]:
csv1.index

RangeIndex(start=0, stop=50, step=1)

In [ ]:
csv1.columns

Index(['EmployeeID', 'Name', 'Age', 'Department', 'Salary', 'JoiningDate',
       'PerformanceRating'],
      dtype='object')

In [ ]:
csv1.describe()

             Age        Salary  PerformanceRating
count  50.000000     50.000000          50.000000
mean   33.440000  58840.000000           3.820000
std     5.778779   9435.841353           0.940907
min    24.000000  45000.000000           2.000000
25%    29.000000  50250.000000           3.000000
50%    33.000000  58000.000000           4.000000
75%    38.000000  68000.000000           5.000000
max    45.000000  75000.000000           5.000000

In [ ]:
csv1.head()

,EmployeeID,Name,Age,Department,Salary,JoiningDate,PerformanceRating
0,E001,John Smith,28,Sales,45000,2020-03-15,4
1,E002,Alice Johnson,34,IT,70000,2018-11-22,5
2,E003,Michael Brown,30,Marketing,52000,2019-07-01,3
3,E004,Linda Davis,45,HR,58000,2016-04-10,4
4,E005,David Wilson,25,IT,48000,2021-06-20,3

In [ ]:
csv1.head(3)

,EmployeeID,Name,Age,Department,Salary,JoiningDate,PerformanceRating
0,E001,John Smith,28,Sales,45000,2020-03-15,4
1,E002,Alice Johnson,34,IT,70000,2018-11-22,5
2,E003,Michael Brown,30,Marketing,52000,2019-07-01,3

In [ ]:
csv1.tail(3)

,EmployeeID,Name,Age,Department,Salary,JoiningDate,PerformanceRating
47,E048,Sharon Rogers,26,Sales,47000,2022-11-17,3
48,E049,Frank Reed,32,HR,56000,2018-06-05,4
49,E050,Michelle Cook,40,Marketing,63000,2013-05-20,5

In [ ]:
csv1[6:11]

,EmployeeID,Name,Age,Department,Salary,JoiningDate,PerformanceRating
6,E007,James Anderson,38,Sales,51000,2015-12-05,2
7,E008,Patricia Thomas,29,Marketing,54000,2022-01-10,3
8,E009,Robert Jackson,41,Finance,68000,2014-05-25,5
9,E010,Lisa White,27,IT,49000,2023-03-08,4
10,E011,Charles Harris,36,Sales,46000,2019-08-14,3

In [ ]:
print(type(csv1))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
csv1.index.array

<NumpyExtensionArray>
[ np.int64(0),  np.int64(1),  np.int64(2),  np.int64(3),  np.int64(4),
  np.int64(5),  np.int64(6),  np.int64(7),  np.int64(8),  np.int64(9),
 np.int64(10), np.int64(11), np.int64(12), np.int64(13), np.int64(14),
 np.int64(15), np.int64(16), np.int64(17), np.int64(18), np.int64(19),
 np.int64(20), np.int64(21), np.int64(22), np.int64(23), np.int64(24),
 np.int64(25), np.int64(26), np.int64(27), np.int64(28), np.int64(29),
 np.int64(30), np.int64(31), np.int64(32), np.int64(33), np.int64(34),
 np.int64(35), np.int64(36), np.int64(37), np.int64(38), np.int64(39),
 np.int64(40), np.int64(41), np.int64(42), np.int64(43), np.int64(44),
 np.int64(45), np.int64(46), np.int64(47), np.int64(48), np.int64(49)]
Length: 50, dtype: int64

In [ ]:
csv1.to_numpy()

array([['E001', 'John Smith', 28, 'Sales', 45000, '2020-03-15', 4],
       ['E002', 'Alice Johnson', 34, 'IT', 70000, '2018-11-22', 5],
       ['E003', 'Michael Brown', 30, 'Marketing', 52000, '2019-07-01', 3],
       ['E004', 'Linda Davis', 45, 'HR', 58000, '2016-04-10', 4],
       ['E005', 'David Wilson', 25, 'IT', 48000, '2021-06-20', 3],
       ['E006', 'Susan Taylor', 31, 'Finance', 62000, '2017-09-18', 4],
       ['E007', 'James Anderson', 38, 'Sales', 51000, '2015-12-05', 2],
       ['E008', 'Patricia Thomas', 29, 'Marketing', 54000, '2022-01-10',
        3],
       ['E009', 'Robert Jackson', 41, 'Finance', 68000, '2014-05-25', 5],
       ['E010', 'Lisa White', 27, 'IT', 49000, '2023-03-08', 4],
       ['E011', 'Charles Harris', 36, 'Sales', 46000, '2019-08-14', 3],
       ['E012', 'Karen Martin', 33, 'HR', 56000, '2017-01-20', 5],
       ['E013', 'Thomas Thompson', 39, 'Marketing', 60000, '2016-10-28',
        2],
       ['E014', 'Nancy Garcia', 26, 'IT', 47000, '2021-02-17', 3],
       ['E015', 'Christopher Martinez', 42, 'Finance', 72000,
        '2013-03-30', 5],
       ['E016', 'Margaret Robinson', 37, 'HR', 59000, '2015-07-11', 4],
       ['E017', 'Daniel Clark', 32, 'Sales', 53000, '2020-06-01', 3],
       ['E018', 'Dorothy Rodriguez', 29, 'Marketing', 55000,
        '2019-10-09', 4],
       ['E019', 'Matthew Lewis', 35, 'IT', 71000, '2018-05-22', 5],
       ['E020', 'Barbara Lee', 40, 'Finance', 65000, '2012-09-16', 4],
       ['E021', 'Paul Walker', 43, 'Sales', 50000, '2011-03-11', 2],
       ['E022', 'Jennifer Hall', 24, 'HR', 46000, '2023-04-21', 4],
       ['E023', 'Steven Allen', 28, 'Marketing', 53000, '2020-07-13', 3],
       ['E024', 'Sarah Young', 30, 'IT', 69000, '2018-10-17', 4],
       ['E025', 'George Hernandez', 44, 'Finance', 74000, '2010-11-04',
        5],
       ['E026', 'Laura King', 26, 'Sales', 48000, '2022-06-23', 3],
       ['E027', 'Mark Wright', 31, 'HR', 57000, '2016-08-06', 5],
       ['E028', 'Betty Scott', 34, 'IT', 72000, '2017-12-28', 4],
       ['E029', 'Joseph Green', 38, 'Marketing', 60000, '2015-02-14', 3],
       ['E030', 'Emily Adams', 27, 'Finance', 66000, '2023-01-30', 4],
       ['E031', 'Edward Baker', 29, 'Sales', 49000, '2021-05-03', 3],
       ['E032', 'Jessica Gonzalez', 33, 'HR', 55000, '2019-09-09', 5],
       ['E033', 'Donald Nelson', 41, 'IT', 71000, '2013-07-07', 4],
       ['E034', 'Amanda Carter', 36, 'Marketing', 58000, '2014-12-19', 2],
       ['E035', 'Jason Mitchell', 25, 'Sales', 47000, '2022-03-26', 4],
       ['E036', 'Mary Perez', 40, 'Finance', 70000, '2012-06-15', 5],
       ['E037', 'Ronald Roberts', 28, 'HR', 52000, '2021-09-30', 3],
       ['E038', 'Elizabeth Turner', 35, 'IT', 75000, '2016-01-13', 5],
       ['E039', 'Anthony Phillips', 30, 'Sales', 50000, '2018-08-27', 3],
       ['E040', 'Deborah Campbell', 39, 'Marketing', 61000, '2017-11-03',
        4],
       ['E041', 'Kevin Parker', 42, 'Finance', 73000, '2010-10-10', 5],
       ['E042', 'Helen Evans', 31, 'IT', 70000, '2015-04-06', 4],
       ['E043', 'Brian Edwards', 27, 'Sales', 46000, '2023-05-12', 3],
       ['E044', 'Cynthia Collins', 33, 'HR', 58000, '2016-09-29', 5],
       ['E045', 'Kenneth Stewart', 36, 'Marketing', 62000, '2014-03-22',
        3],
       ['E046', 'Angela Sanchez', 29, 'IT', 68000, '2020-02-08', 4],
       ['E047', 'Joshua Morris', 38, 'Finance', 75000, '2011-12-01', 5],
       ['E048', 'Sharon Rogers', 26, 'Sales', 47000, '2022-11-17', 3],
       ['E049', 'Frank Reed', 32, 'HR', 56000, '2018-06-05', 4],
       ['E050', 'Michelle Cook', 40, 'Marketing', 63000, '2013-05-20', 5]],
      dtype=object)

In [ ]:
import numpy as np

v= np.asarray(csv1)
v

array([['E001', 'John Smith', 28, 'Sales', 45000, '2020-03-15', 4],
       ['E002', 'Alice Johnson', 34, 'IT', 70000, '2018-11-22', 5],
       ['E003', 'Michael Brown', 30, 'Marketing', 52000, '2019-07-01', 3],
       ['E004', 'Linda Davis', 45, 'HR', 58000, '2016-04-10', 4],
       ['E005', 'David Wilson', 25, 'IT', 48000, '2021-06-20', 3],
       ['E006', 'Susan Taylor', 31, 'Finance', 62000, '2017-09-18', 4],
       ['E007', 'James Anderson', 38, 'Sales', 51000, '2015-12-05', 2],
       ['E008', 'Patricia Thomas', 29, 'Marketing', 54000, '2022-01-10',
        3],
       ['E009', 'Robert Jackson', 41, 'Finance', 68000, '2014-05-25', 5],
       ['E010', 'Lisa White', 27, 'IT', 49000, '2023-03-08', 4],
       ['E011', 'Charles Harris', 36, 'Sales', 46000, '2019-08-14', 3],
       ['E012', 'Karen Martin', 33, 'HR', 56000, '2017-01-20', 5],
       ['E013', 'Thomas Thompson', 39, 'Marketing', 60000, '2016-10-28',
        2],
       ['E014', 'Nancy Garcia', 26, 'IT', 47000, '2021-02-17', 3],
       ['E015', 'Christopher Martinez', 42, 'Finance', 72000,
        '2013-03-30', 5],
       ['E016', 'Margaret Robinson', 37, 'HR', 59000, '2015-07-11', 4],
       ['E017', 'Daniel Clark', 32, 'Sales', 53000, '2020-06-01', 3],
       ['E018', 'Dorothy Rodriguez', 29, 'Marketing', 55000,
        '2019-10-09', 4],
       ['E019', 'Matthew Lewis', 35, 'IT', 71000, '2018-05-22', 5],
       ['E020', 'Barbara Lee', 40, 'Finance', 65000, '2012-09-16', 4],
       ['E021', 'Paul Walker', 43, 'Sales', 50000, '2011-03-11', 2],
       ['E022', 'Jennifer Hall', 24, 'HR', 46000, '2023-04-21', 4],
       ['E023', 'Steven Allen', 28, 'Marketing', 53000, '2020-07-13', 3],
       ['E024', 'Sarah Young', 30, 'IT', 69000, '2018-10-17', 4],
       ['E025', 'George Hernandez', 44, 'Finance', 74000, '2010-11-04',
        5],
       ['E026', 'Laura King', 26, 'Sales', 48000, '2022-06-23', 3],
       ['E027', 'Mark Wright', 31, 'HR', 57000, '2016-08-06', 5],
       ['E028', 'Betty Scott', 34, 'IT', 72000, '2017-12-28', 4],
       ['E029', 'Joseph Green', 38, 'Marketing', 60000, '2015-02-14', 3],
       ['E030', 'Emily Adams', 27, 'Finance', 66000, '2023-01-30', 4],
       ['E031', 'Edward Baker', 29, 'Sales', 49000, '2021-05-03', 3],
       ['E032', 'Jessica Gonzalez', 33, 'HR', 55000, '2019-09-09', 5],
       ['E033', 'Donald Nelson', 41, 'IT', 71000, '2013-07-07', 4],
       ['E034', 'Amanda Carter', 36, 'Marketing', 58000, '2014-12-19', 2],
       ['E035', 'Jason Mitchell', 25, 'Sales', 47000, '2022-03-26', 4],
       ['E036', 'Mary Perez', 40, 'Finance', 70000, '2012-06-15', 5],
       ['E037', 'Ronald Roberts', 28, 'HR', 52000, '2021-09-30', 3],
       ['E038', 'Elizabeth Turner', 35, 'IT', 75000, '2016-01-13', 5],
       ['E039', 'Anthony Phillips', 30, 'Sales', 50000, '2018-08-27', 3],
       ['E040', 'Deborah Campbell', 39, 'Marketing', 61000, '2017-11-03',
        4],
       ['E041', 'Kevin Parker', 42, 'Finance', 73000, '2010-10-10', 5],
       ['E042', 'Helen Evans', 31, 'IT', 70000, '2015-04-06', 4],
       ['E043', 'Brian Edwards', 27, 'Sales', 46000, '2023-05-12', 3],
       ['E044', 'Cynthia Collins', 33, 'HR', 58000, '2016-09-29', 5],
       ['E045', 'Kenneth Stewart', 36, 'Marketing', 62000, '2014-03-22',
        3],
       ['E046', 'Angela Sanchez', 29, 'IT', 68000, '2020-02-08', 4],
       ['E047', 'Joshua Morris', 38, 'Finance', 75000, '2011-12-01', 5],
       ['E048', 'Sharon Rogers', 26, 'Sales', 47000, '2022-11-17', 3],
       ['E049', 'Frank Reed', 32, 'HR', 56000, '2018-06-05', 4],
       ['E050', 'Michelle Cook', 40, 'Marketing', 63000, '2013-05-20', 5]],
      dtype=object)

In [ ]:
csv1.sort_index(axis = 0, ascending = False) #axis = 0 refers to rows , axis = 1 refers to column

,EmployeeID,Name,Age,Department,Salary,JoiningDate,PerformanceRating
49,E050,Michelle Cook,40,Marketing,63000,2013-05-20,5
48,E049,Frank Reed,32,HR,56000,2018-06-05,4
47,E048,Sharon Rogers,26,Sales,47000,2022-11-17,3
46,E047,Joshua Morris,38,Finance,75000,2011-12-01,5
45,E046,Angela Sanchez,29,IT,68000,2020-02-08,4
44,E045,Kenneth Stewart,36,Marketing,62000,2014-03-22,3
43,E044,Cynthia Collins,33,HR,58000,2016-09-29,5
42,E043,Brian Edwards,27,Sales,46000,2023-05-12,3
41,E042,Helen Evans,31,IT,70000,2015-04-06,4
40,E041,Kevin Parker,42,Finance,73000,2010-10-10,5
39,E040,Deborah Campbell,39,Marketing,61000,2017-11-03,4
38,E039,Anthony Phillips,30,Sales,50000,2018-08-27,3
37,E038,Elizabeth Turner,35,IT,75000,2016-01-13,5
36,E037,Ronald Roberts,28,HR,52000,2021-09-30,3
35,E036,Mary Perez,40,Finance,70000,2012-06-15,5
34,E035,Jason Mitchell,25,Sales,47000,2022-03-26,4
33,E034,Amanda Carter,36,Marketing,58000,2014-12-19,2
32,E033,Donald Nelson,41,IT,71000,2013-07-07,4
31,E032,Jessica Gonzalez,33,HR,55000,2019-09-09,5
30,E031,Edward Baker,29,Sales,49000,2021-05-03,3
29,E030,Emily Adams,27,Finance,66000,2023-01-30,4
28,E029,Joseph Green,38,Marketing,60000,2015-02-14,3
27,E028,Betty Scott,34,IT,72000,2017-12-28,4
26,E027,Mark Wright,31,HR,57000,2016-08-06,5
25,E026,Laura King,26,Sales,48000,2022-06-23,3
24,E025,George Hernandez,44,Finance,74000,2010-11-04,5
23,E024,Sarah Young,30,IT,69000,2018-10-17,4
22,E023,Steven Allen,28,Marketing,53000,2020-07-13,3
21,E022,Jennifer Hall,24,HR,46000,2023-04-21,4
20,E021,Paul Walker,43,Sales,50000,2011-03-11,2
19,E020,Barbara Lee,40,Finance,65000,2012-09-16,4
18,E019,Matthew Lewis,35,IT,71000,2018-05-22,5
17,E018,Dorothy Rodriguez,29,Marketing,55000,2019-10-09,4
16,E017,Daniel Clark,32,Sales,53000,2020-06-01,3
15,E016,Margaret Robinson,37,HR,59000,2015-07-11,4
14,E015,Christopher Martinez,42,Finance,72000,2013-03-30,5
13,E014,Nancy Garcia,26,IT,47000,2021-02-17,3
12,E013,Thomas Thompson,39,Marketing,60000,2016-10-28,2
11,E012,Karen Martin,33,HR,56000,2017-01-20,5
10,E011,Charles Harris,36,Sales,46000,2019-08-14,3
9,E010,Lisa White,27,IT,49000,2023-03-08,4
8,E009,Robert Jackson,41,Finance,68000,2014-05-25,5
7,E008,Patricia Thomas,29,Marketing,54000,2022-01-10,3
6,E007,James Anderson,38,Sales,51000,2015-12-05,2
5,E006,Susan Taylor,31,Finance,62000,2017-09-18,4
4,E005,David Wilson,25,IT,48000,2021-06-20,3
3,E004,Linda Davis,45,HR,58000,2016-04-10,4
2,E003,Michael Brown,30,Marketing,52000,2019-07-01,3
1,E002,Alice Johnson,34,IT,70000,2018-11-22,5
0,E001,John Smith,28,Sales,45000,2020-03-15,4

In [ ]:
csv1.sort_index(axis = 1, ascending = False)

,Salary,PerformanceRating,Name,JoiningDate,EmployeeID,Department,Age
0,45000,4,John Smith,2020-03-15,E001,Sales,28
1,70000,5,Alice Johnson,2018-11-22,E002,IT,34
2,52000,3,Michael Brown,2019-07-01,E003,Marketing,30
3,58000,4,Linda Davis,2016-04-10,E004,HR,45
4,48000,3,David Wilson,2021-06-20,E005,IT,25
5,62000,4,Susan Taylor,2017-09-18,E006,Finance,31
6,51000,2,James Anderson,2015-12-05,E007,Sales,38
7,54000,3,Patricia Thomas,2022-01-10,E008,Marketing,29
8,68000,5,Robert Jackson,2014-05-25,E009,Finance,41
9,49000,4,Lisa White,2023-03-08,E010,IT,27
10,46000,3,Charles Harris,2019-08-14,E011,Sales,36
11,56000,5,Karen Martin,2017-01-20,E012,HR,33
12,60000,2,Thomas Thompson,2016-10-28,E013,Marketing,39
13,47000,3,Nancy Garcia,2021-02-17,E014,IT,26
14,72000,5,Christopher Martinez,2013-03-30,E015,Finance,42
15,59000,4,Margaret Robinson,2015-07-11,E016,HR,37
16,53000,3,Daniel Clark,2020-06-01,E017,Sales,32
17,55000,4,Dorothy Rodriguez,2019-10-09,E018,Marketing,29
18,71000,5,Matthew Lewis,2018-05-22,E019,IT,35
19,65000,4,Barbara Lee,2012-09-16,E020,Finance,40
20,50000,2,Paul Walker,2011-03-11,E021,Sales,43
21,46000,4,Jennifer Hall,2023-04-21,E022,HR,24
22,53000,3,Steven Allen,2020-07-13,E023,Marketing,28
23,69000,4,Sarah Young,2018-10-17,E024,IT,30
24,74000,5,George Hernandez,2010-11-04,E025,Finance,44
25,48000,3,Laura King,2022-06-23,E026,Sales,26
26,57000,5,Mark Wright,2016-08-06,E027,HR,31
27,72000,4,Betty Scott,2017-12-28,E028,IT,34
28,60000,3,Joseph Green,2015-02-14,E029,Marketing,38
29,66000,4,Emily Adams,2023-01-30,E030,Finance,27
30,49000,3,Edward Baker,2021-05-03,E031,Sales,29
31,55000,5,Jessica Gonzalez,2019-09-09,E032,HR,33
32,71000,4,Donald Nelson,2013-07-07,E033,IT,41
33,58000,2,Amanda Carter,2014-12-19,E034,Marketing,36
34,47000,4,Jason Mitchell,2022-03-26,E035,Sales,25
35,70000,5,Mary Perez,2012-06-15,E036,Finance,40
36,52000,3,Ronald Roberts,2021-09-30,E037,HR,28
37,75000,5,Elizabeth Turner,2016-01-13,E038,IT,35
38,50000,3,Anthony Phillips,2018-08-27,E039,Sales,30
39,61000,4,Deborah Campbell,2017-11-03,E040,Marketing,39
40,73000,5,Kevin Parker,2010-10-10,E041,Finance,42
41,70000,4,Helen Evans,2015-04-06,E042,IT,31
42,46000,3,Brian Edwards,2023-05-12,E043,Sales,27
43,58000,5,Cynthia Collins,2016-09-29,E044,HR,33
44,62000,3,Kenneth Stewart,2014-03-22,E045,Marketing,36
45,68000,4,Angela Sanchez,2020-02-08,E046,IT,29
46,75000,5,Joshua Morris,2011-12-01,E047,Finance,38
47,47000,3,Sharon Rogers,2022-11-17,E048,Sales,26
48,56000,4,Frank Reed,2018-06-05,E049,HR,32
49,63000,5,Michelle Cook,2013-05-20,E050,Marketing,40

In [ ]:
csv2 = pd.read_csv("/content/employees.csv", nrows = 5)
csv2

,EmployeeID,Name,Age,Department,Salary,JoiningDate,PerformanceRating
0,E001,John Smith,28,Sales,45000,2020-03-15,4
1,E002,Alice Johnson,34,IT,70000,2018-11-22,5
2,E003,Michael Brown,30,Marketing,52000,2019-07-01,3
3,E004,Linda Davis,45,HR,58000,2016-04-10,4
4,E005,David Wilson,25,IT,48000,2021-06-20,3

In [ ]:
csv2.loc[0, "Name"] = "Tom Jerry"

csv2

,EmployeeID,Name,Age,Department,Salary,JoiningDate,PerformanceRating
0,E001,Tom Jerry,28,Sales,45000,2020-03-15,4
1,E002,Alice Johnson,34,IT,70000,2018-11-22,5
2,E003,Michael Brown,30,Marketing,52000,2019-07-01,3
3,E004,Linda Davis,45,HR,58000,2016-04-10,4
4,E005,David Wilson,25,IT,48000,2021-06-20,3

In [ ]:
csv2.loc[[1,2,3],[ "Name"]]

            Name
1  Alice Johnson
2  Michael Brown
3    Linda Davis

In [ ]:
csv2.iloc[0, 1]

'Tom Jerry'

In [ ]:
csv2.drop("EmployeeID", axis=1) #This is for dropping columns
#viceversa for rows

            Name  Age Department  Salary JoiningDate  PerformanceRating
0      Tom Jerry   28      Sales   45000  2020-03-15                  4
1  Alice Johnson   34         IT   70000  2018-11-22                  5
2  Michael Brown   30  Marketing   52000  2019-07-01                  3
3    Linda Davis   45         HR   58000  2016-04-10                  4
4   David Wilson   25         IT   48000  2021-06-20                  3